{% extends 'base.html' %}

{% block title %}
    Project Page
{% endblock %}

{% block content %}
    <h1>{{ project["project_name"] }}</h1>
    <img src="../{{ project["big_image"] }}"><br>
    <p>
      {{ project["project_no"] }}: {{ project["project_name"] }}, {{ project["external_link"] }}<br>
      {{ project["short_description"] }}<br>
      Tekniker: {% for tech in project["techniques_used"] %}
      {{ tech }}
      {% endfor %}<br>
      Startdatum: {{ project["start_date"] }}<br>
      Slutdatum: {{ project["end_date"] }}<br>
      {{ project["course_id"] }}, {{ project["course_name"] }}<br>
      {{ project["group_size"] }} personer
    </p>
    <p>
      {{ project["long_description"] }}
    </p>
{% endblock %}
