{% extends 'base.html' %}

{% block title %}
    Project Page
{% endblock %}

{% block content %}
        <h1>{{ project["project_name"] }}</h1>
        <img class="project_big_image" src="{{ project['big_image'] }}" alt="Bilden hittades inte">
        <div class="project">
            <div class="long_description">
                {{ project["long_description"] }}<br>
            </div>
            <div>
                <a href="{{ project["external_link"] }}">Projektdemo</a><br>

                Tekniker:
                {% for tech in project["techniques_used"] %}
                    {{ tech }}{% if tech != project["techniques_used"][-1] %}, {% endif %}
                {% endfor %}<br>

                Startdatum: {{ project["start_date"] }}<br>
                Slutdatum: {{ project["end_date"] }}<br>
                Kurs: {{ project["course_id"] }}, {{ project["course_name"] }}<br>
                {{ project["group_size"] }} Personer
            </div>
        </div>
{% endblock %}
