header{
    font-family: calibri, asap, sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 0.8em 0 0.4em 0;
    margin: 0.3em 0 0 0;
    background-color: #23241f;
    color: white;
    -moz-box-shadow: 0 8px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 8px 6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px rgba(0,0,0,0.5);
}

header a, header form{
    display: inline;

}

html{
    background-color: #E3E3E3;
}

.wrap{
    min-width: 1415px;
    max-width: 1430px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}
main{
    display: block;
    margin-left: 2em;
    text-align: left;
    font-family: calibri, asap, sans-serif;
}

span.tab{
	padding: 0 2.5em;
}

footer a{
    color: #f8f8f2;
}

nav{
    display: -webkit-box;
}

nav a{
    color: inherit;
    text-decoration: inherit;
    margin: 3em 3em 0 1em
}

footer{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 0.6em 0 0.4em 0;
    margin: 2em 0 1.5em 0;
    color: #f8f8f2;
    background-color: #23241f;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.project{
    overflow: hidden;
    width: 950px;
    font-family: calibri, asap, sans-serif;
    padding: 2em 3em;
    background-color: rgba(202, 202, 202, 0.18);
    margin: 1em 0
}

.project img {
    float: right;
    max-width: 200px;
    max-height: 125px;
}

.long_description{
    float: right;
    max-width: 515px;
}

.project_big_image{
    max-width: 500px;
}